<p>listes des offres emploi</p>
<div class="row">

<div class="col-md-4" *ngFor="let l of listeEmploi, let i= index">
<div class="card" style="width: 18rem;">
    <!--<img class="card-img-top" src="..." alt="Card image cap">-->

    <div class="card-body">
      <h5 class="card-title">reference: {{l.reference}}</h5>
      <p class="card-text">titre: {{l.titre}}</p>
      <p class="card-text">entreprise: {{l.entreprise}}</p>
      <p class="card-text">etat: {{l.etat}}</p>
      
      <button href="#" class="btn btn-primary"  [disabled]="l.etat ==false" >postuler</button>
    <!--  <button href="#" class="btn btn-primary" (click)="like(i)">Like</button>
    -->
    </div>
  </div>
</div>
</div>
<div>
    <br>
    <button href="#" class="btn btn-primary" (click)="Bilan()">Bilan</button>
    <p>
        Bilan {{ Bilan() }};
    </p>
</div>